.deepika{
    background-color: orange;
}
.vijay{
    background-color: blue;
}
.rajni{
    background-color: aqua;
}
.siri{
    background-color: pink;
}
#rahul{
    background-color: red;
}
p,h3{
    background-color: brown;
}
